{% extends "base.html" %}
{% block page_content %}

    <h1>Movies</h1>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-3">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ movie.movie_image.url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.movie_name }}</h5>
                    <small>
                        {{ movie.created_on.date }} |&nbsp;Categories:&nbsp;
                        {% for category in movie.categories.all %}
                        <a href="{% url 'movie_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                        {% endfor %}
                    </small>
                    <a class="btn btn-outline-info btn-sm" href="{% url 'movie_detail' movie.pk %}">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}