{% extends "base.html" %}
{% block page_content %}

    <h1>Movies</h1>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-3">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ movie.movie_image.url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.movie_name }}</h5>
                    <p class="card-text"><b>{{ movie.movie_category }}</b></p>
                    <a class="btn btn-outline-info btn-sm" href="{% url 'movie_detail' movie.pk %}">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}